*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body{
    position: relative;
    overflow: hidden;

}

aside{

    display: flex;
    float: left;
    height: calc( 100vh - 100px );
    overflow-y: hidden;

}



header{
    float: left;
    height: 80px;
    width: calc( 100% - 230px );
    background-color: rgba(18, 18, 18, 0.98);

}

main{

    background-color: rgba(18, 18, 18, 0.98);
    float: left;
    width: calc( 100% - 230px );
    height: calc( 100vh - 80px );
    overflow: scroll;
    color: white;
    padding-bottom: 500px;

}

footer{

    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-shrink: 2;
}


@media screen and (max-width: 576px) {

    aside{
        width: 70px;

    }

    header{
        width: calc( 100% - 70px );
    }

    main{
        width: calc( 100% - 70px );
    }

}

.container-a{

    padding: 15px;
    background-color: black;
    width: 230px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;



}

#spo{
    display: none;
}


.end{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.scheda img{
    object-fit: contain;
}

.nava ul li{
    height: 20px;
    margin-bottom: 20px;
}

.nava ul li i{
    height: 40px;
    color: #b3b3b3;

}

.nava ul li i,svg{
    padding-right: 5px;
    color: #b3b3b3;


}

.nava ul li a{
    display: inline;
    font-size: 14px;
    color: #b3b3b3;
    text-decoration: none;
}

.logo img{
    height: 40px;
    margin-bottom: 20px;
}

.crea ul li{

    margin-top: 10px;
}

.crea ul li a{
    text-decoration: none;
    color: #b3b3b3;

}

.crea ul li i{
    font-size: 30px;
}


.crea i{
    color: #b3b3b3;
    height: 20px;

}

.list ul li{
    color: #b3b3b3;
    margin: 5px 20px;
    list-style: none;
}


.tit h4{
    color: #b3b3b3;
    margin: 10px 20px 0;
}

.install i{
    color: #b3b3b3;
    border-bottom: 1px
}

.install{
    margin-top: 20px;
    border-bottom: 0.1px solid #b3b3b3;
    padding-bottom: 10px;


}

.install a{
    color: #b3b3b3;
    text-decoration: none;
}

.nava ul li:hover{
    padding-left: 5px;
    border-left: green 4px solid;
}

.nava ul li:hover a{
    color: white;
}
.nava ul li:hover i{
    color: white;
}

.crea ul li:hover a{
    color: white;
}
.crea ul li:hover i{
    color: white;
}

.install:hover a{
    color: white;
}
.install:hover i{
    color: white;
}


@media screen and (max-width: 768px) {
    .scheda {
        transform: scale(1.1);
        margin: 30px;
    }

}

@media screen and (max-width: 576px) {

    .nava ul li a{
        display: none;
    }

    .nava ul li i{
        font-size: 25px;
        padding-bottom: 50px;
    }

    .play{
        display: none;
    }

    .install a{
        display: none;
    }

    .install{
        border: none;
    }

    .install i{
        font-size: 30px;
    }

    #spo{
        height: 30px;
        color: white;
        display: inherit;
        margin-bottom: 20px;
    }

    #spoti{
        display: none;
    }

    .scheda {
        transform: scale(1.2);
        margin-top: 30px;
    }

}



.fine-as{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* fine ASIDE */




.upgrade{
    display: flex;
    justify-content: flex-end;

}

.upgrade button{

    margin: 20px;
    padding: 10px 20px;
    background-color: rgba(18, 18, 18, 0.98);
    color: white;
    border-radius: 25px;
    cursor: pointer;


}

.song{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;



}

.scheda p{
    text-align: center;
    padding-top: 10px;
}


.creato-per{
    margin-top: 50px;
    margin-bottom: 50px;
}

.played{
    margin: 20px;
}

.played h4{
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.nav-c ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 40px;



}

.nav-c ul li a:hover{
    color: white;
}

.nav-c{
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-c ul li a{
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.nav-c:hover ul li{

  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid green;

}

.song-2{
    display: flex;
}

.song-2 .scheda{
    padding: 20px;
}

#rotondo{
    border-radius: 50%;
}

.immagine{
    position: relative;
}
.scheda img{
    padding: 10px;
}


.immagine:hover img{
    filter: brightness(50%);
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.immagine:hover .overlay {
  opacity: 1;
}

  .overlay i{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/* FINE MAIN */

.container-f{

    height: 100px;
    width: 100vw;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
}

.parte{

    color: white;

}


.part-one{
    display: flex;

}


.cuore i{
    height: 20px;
}

.minipic img{
    padding: 20px;
}

.minitit{
    padding: 35px;
    padding-left: 0;

}

.miniicon{
    padding: 40px;

}

.simbol{
    text-align: center;
}

.simbol i{
    font-size: 18px;
    padding: 10px;

}

.musicplayer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.riga{
    height: 2px;
    width: 400px;
    background-color: grey;
    margin: 12px 10px;

}

.part-three{
    display: flex;
    justify-content: flex-end;
    margin: 40px 5px
}


.riga-bis{
    height: 2px;
    width: 100px;
    background-color: grey;
    margin: 10px 10px;

}

.part-three i{
    padding: 0 8px;
}

#grey{
    color: #b3b3b3;
}
