*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body{
    position: relative;

}

aside{

    background-color: black;
    height: 100vh;
    float: left;
    width: 230px;
    overflow: hidden;

}

header{
    float: left;
    height: 80px;
    width: calc( 100% - 230px );
    background-color: rgba(18, 18, 18, 0.98);

}

main{

    background-color: rgba(18, 18, 18, 0.98);
    float: left;
    width: calc( 100% - 230px );
    height: calc( 100vh - 80px );
    overflow: scroll;
    color: white;
    padding-bottom: 500px;

}

footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container-a{
    width: 80%;
    margin: 20 auto;
}

.scheda img{
    object-fit: contain;
}

.nava ul li{
    margin: 10px 20px;
}

.nava ul li i{
    height: 40px;
    color: #b3b3b3;

}

.nava ul li i,svg{
    padding-right: 5px;
    color: #b3b3b3;


}

.nava ul li p{
    display: inline;
    font-size: 14px;
    color: #b3b3b3;
}

.logo img{
    height: 40px;
    margin: 20px;
}

.crea ul li{
    margin-left: 20px;
    margin-top: 10px;
}

.crea ul li a{
    text-decoration: none;
    color: #b3b3b3;

}

.crea ul li i{
    font-size: 30px;
}


.crea i{
    color: #b3b3b3;
    height: 20px;

}

.list ul li{
    color: #b3b3b3;
    margin: 5px 20px;
    list-style: none;
}


.tit h4{
    color: #b3b3b3;
    margin: 40px 20px 0;
}

.install i{
    color: #b3b3b3;
}



/* fine ASIDE */


.navb{

}

.upgrade{
    display: flex;
    justify-content: flex-end;

}

.upgrade button{

    margin: 20px;
    padding: 10px 20px;
    background-color: rgba(18, 18, 18, 0.98);
    color: white;
    border-radius: 25px;
    cursor: pointer;


}

.song{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.scheda p{
    text-align: center;
    padding-top: 10px;
}


.creato-per{
    margin-top: 50px;
    margin-bottom: 50px;
}

.played{
    margin: 20px;
}

.played h4{
    color: white;
    font-size: 28px;
}

.nav-c ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 40px;



}

.nav-c{
    display: flex;
    justify-content: center;
}

.nav-c ul li a{
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.song-2{
    display: flex;


}

.song-2 .scheda{
    padding: 20px;
}

#rotondo{
    border-radius: 50%;
}


/* FINE MAIN */

.container-f{
    display: flex;
    justify-content: space-between;
}

.parte{
    width: 33%;
    color: white;

}


.part-one{
    display: flex;

}


.cuore i{
    height: 20px;
}

.minipic img{
    padding: 20px;
}

.minitit{
    padding: 35px;
    padding-left: 0;

}

.miniicon{
    padding: 40px;

}

.simbol{
    text-align: center;
}

.simbol i{
    font-size: 18px;
    padding: 10px;

}

.musicplayer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.riga{
    height: 2px;
    width: 400px;
    background-color: grey;
    margin: 12px 10px;

}

.part-three{
    display: flex;
    justify-content: flex-end;
    margin: 40px 5px
}


.riga-bis{
    height: 2px;
    width: 100px;
    background-color: grey;
    margin: 10px 10px;

}

.part-three i{
    padding: 0 8px;
}

#grey{
    color: #b3b3b3;
}
